<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer id="footer">
    <div class="s-inner">
        <div>
            <span class="f_logo"><img src="/front/ko/images/f_logo.png" alt="깨끗한나라"></span>
            <ul class="f_util">
                <li><a href="/Company/privacy" title="개인정보처리방침" style="color: #1E90FF;">개인정보처리방침</a></li>
<!--                <li><a href="/Company/terms" title="이용약관">이용약관</a></li>-->
                <li class="small-text"><a href="/Company/email" title="이메일 무단수집거부">이메일 무단수집거부</a></li>
                <li class="small-text"><a href="/Company/come" title="오시는길">오시는길</a></li>
            </ul>
        </div>
        <div>
            <ul class="f_info">
                <li>서울특별시 용산구 한남대로 98,<br>일신빌딩 4층</li>
                <li>Tel : (02) 2270-9200<li>
            </ul>
            <p class="f_txt">
                2018년 10월 18일부터 산업안전보건법에 의한 고객응대 <br class="tab_br">근로자보호조치가 시행됩니다.<br>
                고객응대 근로자에게 폭언, 폭행, 성희롱 등을 하지 말아주시기<br class="tab_br">바랍니다.
            </p>
            <p class="copy">© KLEANNARA ALL RIGHTS RESERVEDCORP.</p>
            <ul class="f_sns">
                <li class="facebook"><a href="https://www.facebook.com/%EA%B9%A8%EB%81%97%ED%95%9C%EB%82%98%EB%9D%BC-109570174529367" target="_blank" title="페이스북"><span class="text_hidden">페이스북</span></a></li>
                <li class="instagram"><a href="https://www.Instagram.com/kleannara_official/" target="_blank" title="인스타그램"><span class="text_hidden">인스타그램</span></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCRWHE29vxKaChqiiuf5lbvA" target="_blank" title="유튜브"><span class="text_hidden">유튜브</span></a></li>
                <!-- <li class="blog"><a href="https://brand.naver.com/kleannara" target="_blank" title="블로그"><span class="text_hidden">블로그</span></a></li> -->
                <li class="naverstore"><a href="https://brand.naver.com/kleannara" target="_blank" title="네이버스토어"><span class="text_hidden">네이버스토어</span></a></li>
                <li class="knmall"><a href="https://kleannaramall.com/main/index.php" target="_blank" title="자사몰"><span class="text_hidden">자사몰</span></a></li>
                <li class="ccm"><a href="https://www.kleannara.co.kr/ESG/customer" target="_self" title="CCM인증"><span class="text_hidden">CCM인증</span></a></li>
                <li class="naverblog"><a href="https://blog.naver.com/kleannara_official" target="_blank" title="네이버블로그"><span class="text_hidden">네이버블로그</span></a></li>

            </ul>
        </div>
    </div>
</footer>