<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="Quick">
    <div>
        <button type="button" title="Brand" class="brand_btn"><span>Brand</span><span>닫기</span></button>
        <ul>
            <li><a href="/Brand/brandList?brand_idx=4" title="깨끗한나라 바로가기">
                <img src="/front/ko/images/quick_logo1.png" al="깨끗한나라">
                <p>깨끗한나라</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=7" target="_blank" title="디어스킨 바로가기">
                <img src="/front/ko/images/quick_logo2.png" al="디어스킨">
                <p>디어스킨</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=3" title="보솜이 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo3_2.png" al="보솜이">
                <p>보솜이</p>
            </a></li>
            <!-- <li><a href="/Brand/brandList?brand_idx=8" title="메디프렌즈 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo4.png" al="메디프렌즈">
                <p>메디프렌즈</p>
            </a></li> -->
            <!-- <li><a href="/Brand/brandList?brand_idx=5" title="프레미뇽 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo5.png" al="프레미뇽">
                <p>프레미뇽</p>
            </a></li> -->
            <li><a href="/Brand/brandList?brand_idx=2" title="N2N 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo6.png" al="N2N">
                <p>N2N</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=6" title="순수한면 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo7.png" al="순수한면">
                <p>순수한면</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=9" title="White Horse 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo8.png" al="White Horse">
                <p>White Horse</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=10" title="포포몽 바로가기" target="_blank">
                <img src="/front/ko/images/quick_logo10.png" al="포포몽">
                <p>포포몽</p>
            </a></li>
        </ul>

        <button type="button" title="상단으로 이동" class="top_btn">Top</button>
    </div>
</div>