<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="Quick">
    <div>
        <button type="button" title="Brand" class="brand_btn"><span>Brand</span><span>Close</span></button>
        <ul>
            <li><a href="/Brand/brandList?brand_idx=4" title="可绿纳乐 链接">
                <img src="/front/zh/images/quick_logo1.png" al="可绿纳乐">
                <p>可绿纳乐</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=7" target="_blank" title="DEARSKIN 链接">
                <img src="/front/zh/images/quick_logo2.png" al="DEARSKIN">
                <p>DEARSKIN</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=3" title="宝松怡 链接" target="_blank">
                <img src="/front/zh/images/quick_logo3_2.png" al="宝松怡">
                <p>宝松怡</p>
            </a></li>
            <!-- <li><a href="/Brand/brandList?brand_idx=8" title="MediFriends 链接" target="_blank">
                <img src="/front/zh/images/quick_logo4.png" al="MediFriends">
                <p>MediFriends</p>
            </a></li> -->
            <!-- <li><a href="/Brand/brandList?brand_idx=5" title="Premignon 链接" target="_blank">
                <img src="/front/zh/images/quick_logo5.png" al="Premignon">
                <p>Premignon</p>
            </a></li> -->
            <li><a href="/Brand/brandList?brand_idx=2" title="N2N 链接" target="_blank">
                <img src="/front/zh/images/quick_logo6.png" al="N2N">
                <p>N2N</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=6" title="纯棉美人 链接" target="_blank">
                <img src="/front/zh/images/quick_logo7.png" al="纯棉美人">
                <p>纯棉美人</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=9" title="White Horse 链接" target="_blank">
                <img src="/front/zh/images/quick_logo8.png" al="White Horse">
                <p>White Horse</p>
            </a></li>
            <li><a href="/Brand/brandList?brand_idx=10" title="PAW-PAW MONG 链接" target="_blank">
                <img src="/front/zh/images/quick_logo10.png" al="PAW-PAW MONG">
                <p>PAW-PAW<br>MONG</p>
            </a></li>
        </ul>

        <button type="button" title="Go Top" class="top_btn">Top</button>
    </div>
</div>