<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="popMypage" class="dim-layer"><!--사용시 스타일 삭제-->
    <div class="popup02">
        <h2>마이페이지</h2>
        <a href="javascript:void(0);" class="close" name="popClose"></a>
        <div class="cont">
            <div class="table-area">
                <table class="tbl-type02">
                    <colgroup>
                        <col style="width: 120px;">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>관리자 아이디</th>
                        <td>
                            <p id="id">admin@eamil</p>
                        </td>
                    </tr>
                    <tr>
                        <th>관리자 이름</th>
                        <td>
                            <p id="name">admin@eamil.com</p>
                        </td>
                    </tr>
                    <tr>
                        <th>기존 비밀번호</th>
                        <td>
                            <div class="password-wrapper">
                                <input type="password" id="old_pw" placeholder="기존 비밀번호 입력">
                                <span class="toggle-password" data-target="old_pw">👁️</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>변경 비밀번호</th>
                        <td>
                            <div class="password-wrapper">
                                <input type="password" id="new_pw1" placeholder="새 비밀번호 입력">
                                <span class="toggle-password" data-target="new_pw1">👁️</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <div class="password-wrapper">
                                <input type="password" id="new_pw2" placeholder="새 비밀번호 확인">
                                <span class="toggle-password" data-target="new_pw2">👁️</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btn-group">
            <a href="javascript:void(0);" class="btn c01 btn_pop_close">닫기</a>
            <a href="javascript:void(0);" class="btn gray02 btn_pop_save">수정</a>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function (){
        $('#id').html([[ ${session.admin_id} ]]);
        $('#name').html([[ ${session.admin_name} ]]);
        $('#old_pw').val("");
        $('#new_pw1').val("");
        $('#new_pw1').val("");
    })

    //닫기
    $(document).on("click", ".btn_pop_close", function (){
        $('.dim-layer').fadeOut(100);
    })

    $(document).on("click", ".toggle-password", function () {
        let targetId = $(this).attr("data-target");
        let inputField = $("#" + targetId);
        let inputType = inputField.attr("type");

        // 비밀번호 보이기/숨기기 토글
        inputField.attr("type", inputType === "password" ? "text" : "password");
    });

    //저장
    $(document).on("click",".btn_pop_save",function(){
        let old_pw = $('#old_pw').val();
        let new_pw1 = $('#new_pw1').val();
        let new_pw2 = $('#new_pw2').val();

        if(old_pw == '' || new_pw1 == '' ) {
            alert('기존 비밀번호를 입력해 주세요.');
            return;
        }

        if(old_pw == new_pw1) {
            alert('신규 비밀번호가 기존 비밀번호와 동일 합니다.');
            return;
        }

        if(new_pw1 != new_pw2){
            alert('비밀번호가 동일하지 않습니다.');
            return;
        }

        function validatePassword(password) {
            let length = password.length;
            let hasNumber = /[0-9]/.test(password);
            let hasLetter = /[a-zA-Z]/.test(password);
            let hasSpecial = /[!@#$%^&*(),.?":{}|<>]/.test(password);

            if (length >= 8 && length <= 9) {
                if (!(hasNumber && hasLetter && hasSpecial)) {
                    alert('8~9글자의 비밀번호는 영문, 숫자, 특수문자가 모두 포함되어야 합니다.');
                    return false;
                }
            } else if (length >= 10) {
                if (!(hasNumber && hasLetter)) {
                    alert('10글자 이상의 비밀번호는 영문과 숫자가 포함되어야 합니다.');
                    return false;
                }
            } else {
                alert('비밀번호는 최소 8자 이상이어야 합니다.');
                return false;
            }
            return true;
        }

        if (!validatePassword(new_pw1)) {
            return;
        }

        $.ajax({
            url: '/AdminLogin/ajaxChangeAdminPassword',
            type: 'POST',
            data: {
                old_pw: old_pw,
                new_pw: new_pw1
            },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result && result.result == 'success') {
                    alert('비밀번호가 정상적으로 변경 되었습니다.');
                    $('.dim-layer').fadeOut(100);
                } else {
                    alert(result.msg);
                }
            }
        });
    });

    /*]]>*/
</script>