<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>깨끗한나라 Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/admin/js/jquery-3.5.1.min.js"></script>
    <script src="/admin/js/jquery-ui.min.js"></script>
    <script src="/admin/js/common.js"></script>
    <script src="/admin/js/paging.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/admin/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/admin/css/admin.css">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>
</html>