<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
      <!-- Google tag (gtag.js) > 회사 Tag로 변경 > 2024/06/19 강지선 -->
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-P6CG5GB7');</script>
      <!-- End Google Tag Manager -->
      <script type="application/ld+json">
          {
              "@context": "http://schema.org",
              "@type": "Person",
              "name": "깨끗한나라",
              "url": "www.kleannara.co.kr/Main/main",
              "sameAs": [
                  "https://www.facebook.com/%EA%B9%A8%EB%81%97%ED%95%9C%EB%82%98%EB%9D%BC-109570174529367",
                  "https://www.Instagram.com/kleannara_official",
                  "https://www.youtube.com/channel/UCRWHE29vxKaChqiiuf5lbvA",
                  "https://brand.naver.com/kleannara"
              ]
          }
      </script>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kleannara" />
    <meta property="og:site_name" content="kleannara" />
    <meta property="og:url" content="https://www." />
    <meta property="og:image" content="/front/en/images/snsshare.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="400" />
    <meta name="naver-site-verification" content="a687528c3338d458bc1f089c3bbee6bbbb4f1d10" />
    <title>깨끗한나라</title>

    <link rel="stylesheet" href="/front/en/css/all.min.css">
    <link rel="stylesheet" href="/front/en/css/kleannara_common.css">
    <link rel="stylesheet" href="/front/en/css/kleannara_css.css">
    <link rel="stylesheet" href="/front/en/css/kleannara_animate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css?ver=191202">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css?ver=191202">
    <link rel="stylesheet" href="/front/en/css/jquery.mCustomScrollbar.css">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

    <script src="/front/en/js/jquery-1.12.4.min.js"></script>
    <script src="/front/en/js/kleannara_common.js"></script>
    <script src="/front/en/js/swiper.min.js"></script>
    <script src="/front/en/js/wow.min.js"></script>
    <script src="/front/en/js/common.js"></script>
    <script src="/front/en/js/paging.js"></script>
    <script src="/front/en/js/jquery.mCustomScrollbar.js"></script>

    <style>
        /*#header {opacity:0; transform:translateY(-100%); animation:header 0.5s linear forwards 1.5s}*/
    </style>

</head>