<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer id="footer">
    <div class="s-inner">
        <div>
            <span class="f_logo"><img src="/front/en/images/f_logo.png" alt="KLEANNARA"></span>
            <ul class="f_util">
                <li><a href="/Company/privacy" title="Privacy policy">Privacy policy</a></li>
<!--                <li><a href="/Company/terms" title="Terms and conditions of use">Terms and conditions of use</a></li>-->
                <li><a href="/Company/email" title="Refusal of unauthorized email collection">Refusal of unauthorized email collection</a></li>
                <li><a href="/Company/come" title="Information on branches">Information on branches</a></li>
            </ul>
        </div>
        <div>
            <ul class="f_info">
                <li>4F, Ilshin Bldg., 98, Hannam-daero, <br>Yongsan-gu, Seoul</li>
                <li>Phone : (02)2270-9200<li>
            </ul>
            <p class="f_txt">
				Protection measures for customer service employees has been <br class="tab_br">implemented <br class="tab_br2">according to the Occupational Safety And Health Act <br class="tab_br">since October 18, 2018. <br>Please do not use abusive language, assault, or sexual harassment <br class="tab_br">against <br class="tab_br2">customer service workers.
            </p>
            <p class="copy">© KLEANNARA ALL RIGHTS RESERVEDCORP.</p>
            <ul class="f_sns">
                <li class="facebook"><a href="https://www.facebook.com/%EA%B9%A8%EB%81%97%ED%95%9C%EB%82%98%EB%9D%BC-109570174529367" target="_blank" title="Facebook"><span class="text_hidden">Facebook</span></a></li>
                <li class="instagram"><a href="https://www.Instagram.com/kleannara_official/" target="_blank" title="Instagram"><span class="text_hidden">Instagram</span></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCRWHE29vxKaChqiiuf5lbvA" target="_blank" title="Youtube"><span class="text_hidden">Youtube</span></a></li>
                <!-- <li class="blog"><a href="https://brand.naver.com/kleannara" target="_blank" title="Blog"><span class="text_hidden">Blog</span></a></li> -->
                <li class="naverstore"><a href="https://brand.naver.com/kleannara" target="_blank" title="Naver Store"><span class="text_hidden">Naver Store</span></a></li>
                <li class="knmall"><a href="https://kleannaramall.com/main/index.php" target="_blank" title="Kleannara Mall"><span class="text_hidden">Kleannara Mall</span></a></li>
                <li class="naverblog"><a href="https://blog.naver.com/kleannara_official" target="_blank" title="네이버블로그"><span class="text_hidden">Naver blog</span></a></li>

            </ul>
        </div>
    </div>
</footer>