<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="head" th:include="@{/front/ko/fragment/front_head}"></th:block>
<body>
<div id="wrap">
	<th:block layout:fragment="header" th:include="@{/front/ko/fragment/front_header}"></th:block>
	<div id="sub_content" class="sBoard">

		<div class="sub_top_box">
			<span id="sBoard_pc"></span>
			<span id="sBoard_tab" class="tab_case2"></span>
			<div class="s-inner2">
				<h3 th:if="${params.type == '2'}">제품관련 문의</h3>
				<h3 th:if="${params.type == '3'}">비즈니스 문의</h3>
				<p th:if="${params.type == '2'}">제품에 대한 궁금하신 점을 <br class="tab_br3">알려주세요.<br class="tab_br"><br class="pc_br">담당자가 답변드릴게요.</p>
				<p th:if="${params.type == '3'}">다양한 제안을 해주세요.<br>담당자가 답변드릴게요.</p>
			</div>
		</div>

		<div class="s-inner2">
			<form id="sForm" method="post" enctype="multipart/form-data">
				<input type="hidden" id="type" name="type" th:value="${params.type}"/>
				<div class="board_inquiry_box">
					<h4>고객 정보</h4>
					<ul class="form_list case2">
						<li>
							<label>성명 <i class="required"></i></label>
							<div>
								<input type="text" placeholder="이름을 입력해 주세요." class="form_txt" id="name" name="name">
							</div>
						</li>
						<li>
							<label>연락처 <i class="required"></i></label>
							<div>
								<input type="text" placeholder="휴대폰 번호를 입력해 주세요." class="form_txt" id="mobile" name="mobile">
							</div>
						</li>
						<li>
							<label>이메일 <i class="required"></i></label>
							<div>
								<div class="email_box">
									<input type="text" placeholder="이메일을 입력해 주세요." class="form_txt" id="email" name="email"><span>@</span>
									<input type="text" class="form_txt" id="email_" name="email_">
									<div class="select_box">
										<button type="button" title="검색 선택" id="email_button">직접 입력</button>
										<select id="email_sel">
											<option value="직접 입력">직접 입력</option>
											<option value="naver.com">naver.com</option>
											<option value="daum.net">daum.net</option>
											<option value="gmail.com">gmail.com</option>
											<option value="chol.com">chol.com</option>
											<option value="citizen.seoul.kr">citizen.seoul.kr</option>
											<option value="cyworld.com">cyworld.com</option>
											<option value="dreamwiz.com">dreamwiz.com</option>
											<option value="empas.com">empas.com</option>
											<option value="freechal.com">freechal.com</option>
											<option value="googlemail.com">googlemail.com</option>
											<option value="hanafos.com">hanafos.com</option>
											<option value="hanmail.net">hanmail.net</option>
											<option value="hanmail.net">hanmail.net</option>
											<option value="hanmir.com">hanmir.com</option>
											<option value="kakao.com">kakao.com</option>
											<option value="korea.kr">korea.kr</option>
											<option value="live.com">live.com</option>
											<option value="lycos.co.kr">lycos.co.kr</option>
											<option value="msn.com">msn.com</option>
											<option value="mail.jason.pe.kr">mail.jason.pe.kr</option>
											<option value="narasarang.or.kr">narasarang.or.kr</option>
											<option value="nate.com">nate.com</option>
											<option value="netsgo.com">netsgo.com</option>
											<option value="netian.com">netian.com</option>
											<option value="outlook.com">outlook.com</option>
											<option value="paran.com">paran.com</option>
											<option value="tistory.com">tistory.com</option>
											<option value="yahoo.com">yahoo.com</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<h4>문의내용</h4>
					<ul class="form_list">
						<li>
							<label>문의 분류 <i class="required"></i></label>
							<div>
								<div class="chk_list case2">
									<label class="radio_box"><input type="radio" name="req_type" value="1" checked>
										<p>문의</p></label>
									<label class="radio_box"><input type="radio" name="req_type" value="2">
										<p>제안</p></label>
									<label class="radio_box"><input type="radio" name="req_type" value="3">
										<p>불만</p></label>
									<label class="radio_box"><input type="radio" name="req_type" value="4">
										<p>칭찬</p></label>
								</div>
							</div>
						</li>
						<li th:if="${params.type == '2'}">
							<label>제품 분류 <i class="required"></i></label>
							<div>
								<div class="chk_list case3">
									<label class="radio_box"><input type="radio" name="prod_type" value="1" checked> <p>기저귀</p></label>
									<label class="radio_box"><input type="radio" name="prod_type" value="2"> <p>생리대</p></label>
									<label class="radio_box"><input type="radio" name="prod_type" value="3"> <p>화장지</p></label>
									<label class="radio_box"><input type="radio" name="prod_type" value="4"> <p>물티슈</p></label>
									<label class="radio_box"><input type="radio" name="prod_type" value="5"> <p>마스크</p></label>
									<label class="radio_box"><input type="radio" name="prod_type" value="6"> <p>기타</p></label>
								</div>
							</div>
						</li>
						<li>
							<label>문의 제목 <i class="required"></i></label>
							<div>
								<input type="text" placeholder="문의하실 내용의 제목을 입력해 주세요." class="form_txt" id="title" name="title">
							</div>
						</li>
						<li>
							<label>문의 내용 <i class="required"></i></label>
							<div>
								<textarea placeholder="문의하실 내용을 입력해 주세요." class="form_textarea" id="content" name="content"></textarea>

								<div class="file_box">
									<input type="file" name="files" class="upload-hidden">
									<div>
										<span>파일선택</span>
										<p class="image_name">5,000KB 이하의 파일만 첨부 가능합니다.</p>
									</div>
								</div>
								<button type="button" title="첨부파일 추가" class="file_add_btn"><i class="icon"></i> 첨부파일 추가</button>
							</div>
						</li>
					</ul>


<!--					<ul class="form_list">-->
<!--						<li>-->
<!--							<label>약관 동의 <i class="required"></i></label>-->
<!--							<div>-->
<!--								<div class="privacy_box">-->
<!--									<div>-->
<!--										<p>-->
<!--											<strong>개인정보 처리방침</strong><br><br>-->
<!--											“깨끗한나라 주식회사”는 고객님의 개인정보를 중요시하며, “개인정보보호법”, “정보통신망이용촉진 및 정보보호법” 및 “신용정보의 이용 및 보호에 관한 법” 등을 준수하고 있습니다.<br><br>-->
<!--											<strong>개인정보 수집·이용에 관한 일반사항</strong><br>-->
<!--											· 수집목적 고객상담<br>-->
<!--											· 수집항목 성명, 이메일, 연락처<br>-->
<!--											· 보유 및 이용기간 3년(보유기간 경과 시 파기)<br><br>-->
<!--											<strong>동의하지 않을 권리 및 미동의 시 불이익</strong><br><br>-->
<!--											· 개인정보 수집 및 이용에 대한 동의를 거부할 권리는 있으나, 미동의 시 고객상담이 불가합니다.-->
<!--										</p>-->
<!--									</div>-->
<!--								</div>-->
<!--								<label class="chk_box"><input type="checkbox" id="agree" name="agree">-->
<!--									<p>상기 이용약관에 관한 내용을 읽었으며, 동의합니다.</p></label>-->
<!--							</div>-->
<!--						</li>-->
<!--					</ul>-->
					<div class="privacy_vocView_group" id="privacyVocViewGroup">
						<h4>개인정보 수집 및 이용에 대한 동의</h4>

						<div class="terms-container" id="termsContainer">

							<p>
								[개인정보 수집 및 이용 동의 <span style="color: green;">(필수)</span>]
								<a href="javascript:void(0);" onclick="togglePrivacy()">내용보기</a>
							</p>
							<label class="chk_box"><input type="checkbox" id="agree" name="agree"> <p>동의합니다.</p></label>
						</div>

						<div class="privacy_box" id="privacyBox" th:if="${params.type == '2'}">
							<div>
								<b>1. 수집 · 이용 항목 및 목적</b><br>
								<p>- 성명, 연락처, 이메일 : 제품관련 문의사항 접수</p>
								<br><br>
								<b>2. 보유 기간</b><br>
								<p>회사는 회원의 개인정보를 수집·이용 동의일로부터 수집·이용 목적 달성 시까지만 보유하고 있으며, 회원이 동의를 철회하는 경우 지체없이 파기합니다.<br>
								(단, 관련 법령에서 정한 별도의 개인정보 보유 기간이 있는 경우에는 그에 따름)</p>
								<br><br>
								<b>3. 개인정보 수집 및 이용 동의를 거부할 권리</b><br>
								<p>귀하께서는 회사의 개인정보 수집 및 이용 동의를 거부할 권리가 있습니다. 다만, 동의를 거부할 경우 문의 접수가 제한될 수 있습니다.</p>

							</div>

						</div>
						<div class="privacy_box" id="privacyBox" th:if="${params.type == '3'}">
							<div>
								<b>[개인정보 수집 및 이용 동의(필수)]</b><br><br>

								<b>1. 수집 · 이용 항목 및 목적</b><br>
								<p>- 성명, 연락처, 이메일 : 비즈니스 문의사항 접수</p><br><br>

								<b>2. 보유 기간</b><br>
								<p>회사는 회원의 개인정보를 수집·이용 동의일로부터 수집·이용 목적 달성 시까지만 보유하고 있으며, 회원이 동의를 철회하는 경우 지체없이 파기합니다.<br>
								(단, 관련 법령에서 정한 별도의 개인정보 보유 기간이 있는 경우에는 그에 따름)</p><br><br>

								<b>3. 개인정보 수집 및 이용 동의를 거부할 권리</b><br>
								<p>귀하께서는 회사의 개인정보 수집 및 이용 동의를 거부할 권리가 있습니다. 다만, 동의를 거부할 경우 문의 접수가 제한될 수 있습니다.</p>

							</div>

						</div>

					</div>
					<button type="button" title="문의하기" class="submit_btn btn_save">문의하기</button>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
            })

            let is_doing = false;
            // 게시글 저장(수정)
            $('.btn_save').on('click', function () {
                if(is_doing)
                    return;

                const form = document.getElementById('sForm');
                const fields = [form.name, form.mobile, form.email, form.title, form.content, form.agree];
                const fieldNames = ['이름', '연락처', '이메일', '문의제목', '문의내용', '약관동의'];

                for (let i = 0, len = fields.length; i < len; i++) {
                    if (!isValid(fields[i], fieldNames[i])) {
                        return false;
                    }
                }

                var regexEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                let email = $('#email').val();
                let email_ = $('#email_').val();
                let email_button = $('#email_button').html();
                if (email_button == '직접 입력')
                    email = email + '@' + email_;
                else
                    email = email + '@' + email_button;
                if (!regexEmail.test(email)) {
                    alert('이메일 형식을 확인해 주세요.')
                    return;
                }

                let agree = $('#agree').is(':checked');
                if (!agree) {
                    alert('약관에 동의해주세요.')
                    return;
                }
                $('#email').val(email);

                is_doing = true;
                form.action = '/Customer/insertVoc';
                form.submit();
            });

            $(document).on('click', '.slist button', function (){
                if($(this).html() == '직접 입력')
                    $('#email_').val('');
                else
                    $('#email_').val($(this).html());
            })

            //제품이미지 선택완료 리스너
            $(document).on('change',".upload-hidden", function () {

                let parent = $(this).parents('.file_box');
                let image_name = parent.find('.image_name');
                if (this.files && this.files[0]) {

                    var maxSize = 1024 * 1024 * 5;
                    var fileSize = this.files[0].size;

                    if(fileSize > maxSize){
                        alert("첨부파일 사이즈는 5MB 이내로 등록 가능합니다.");
                        $(this).val('');
                        image_name.html('5,000KB 이하의 파일만 첨부 가능합니다.');
                        var $el = $('.upload-hidden');
                        $el.wrap('<form>').closest('form').get(0).reset();
                        $el.unwrap();
                        return false;
                    }
                }

                image_name.html('<p>'+$(this).val().match(/[^\\/]*$/)[0] + '<button type="button" title="첨부파일 삭제" class="file_delete"><span class="text_hidden">첨부파일 삭제</span></button></p>');
            });

            //제품이미지 삭제
            $(document).on("click",".file_delete",function(){
                /*
                $('#image_name').html('5,000KB 이하의 파일만 첨부 가능합니다.');
                var $el = $('.upload-hidden');
                $el.wrap('<form>').closest('form').get(0).reset();
                $el.unwrap();
                 */
	            $(this).parents('.file_box').remove();
            });

            $(document).on("click",".file_add_btn",function(){

                let html = '';
                html += '<div class="file_box">';
                html += '    <input type="file" name="files" class="upload-hidden">';
                html += '        <div>';
                html += '            <span>파일선택</span>';
                html += '            <p class="image_name">5,000KB 이하의 파일만 첨부 가능합니다.</p>';
                html += '        </div>';
                html += '</div>';
                $('.file_add_btn').before(html);
            });

            /*]]>*/
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
		<script>
            var animation = bodymovin.loadAnimation({
                container: document.getElementById('sBoard_pc'), // Required
                path: '/front/ko/images/sProductinquiry.json', // Required
                renderer: 'svg', // Required
                loop: false, // Optional
                autoplay: false// Optional
            });

            animation.addEventListener('DOMLoaded', function () {
                animation.playSegments([1, 91], true);
            })

            var animation_tab = bodymovin.loadAnimation({
                container: document.getElementById('sBoard_tab'), // Required
                path: '/front/ko/images/sProductinquiry_tab.json', // Required
                renderer: 'svg', // Required
                loop: false, // Optional
                autoplay: false// Optional
            });

            animation_tab.addEventListener('DOMLoaded', function () {
                animation_tab.playSegments([1, 91], true);
            })

			function togglePrivacy() {
				var privacyBox = document.getElementById("privacyBox");
				if (privacyBox.style.display === "none" || privacyBox.style.display === "") {
					privacyBox.style.display = "block";
				} else {
					privacyBox.style.display = "none";
				}
			}
		</script>
	</div>
	<th:block layout:fragment="quick" th:include="@{/front/ko/fragment/front_quick}"></th:block>
	<th:block layout:fragment="footer" th:include="@{/front/ko/fragment/front_footer}"></th:block>
</div>
</body>
</html>
