<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="head" th:include="@{/front/ko/fragment/front_head}"></th:block>
<body>
<div id="wrap">
	<th:block layout:fragment="header" th:include="@{/front/ko/fragment/front_header}"></th:block>
	<div id="sub_content" class="sBoard">

	<div class="sub_top_box">
		<span id="sBoard_pc" class="case2"></span>
		<span id="sBoard_tab"></span>
		<div class="s-inner2">
			<h3>홍보자료</h3>
			<p>깨끗한나라 홍보자료를<br>안내 해드립니다.</p>
		</div>
	</div>

	<div class="s-inner2">
		<div class="board_box">
			<form id="searchForm" method="get">
				<input type="hidden" name="type" th:value="${params.type}">
				<input type="hidden" name="sub_type" th:value="${params.sub_type}">
				<input type="hidden" name="searchType" th:value="${params.searchType}">
				<div class="sch_box">
					<div class="select_box">
						<button type="button" title="검색 선택" id="searchButton">전체</button>
						<select id="searchSelect">
							<option value="전체" th:selected="${params.searchType eq 'all'}">전체</option>
							<option value="제목" th:selected="${params.searchType eq 'title'}">제목</option>
							<option value="내용" th:selected="${params.searchType eq 'content'}">내용</option>
							<option value="태그" th:selected="${params.searchType eq 'tag'}">태그</option>
						</select>
					</div>
					<input type="text" placeholder="궁금하신 내용을 검색해 주세요" th:field="${params.keyword}">
					<button type="button" title="검색" class="submit_btn" onclick="javascript:btn_search();"></button>
				</div>
			</form>

			<div class="cate_box">
				<ul>
					<li th:classappend="${#strings.isEmpty(params.sub_type)}?'on':''"><a href="/News/adList" title="전체">전체</a></li>
					<li th:classappend="${params.sub_type == '1'}?'on':''"><a href="/News/adList?sub_type=1" title="광고갤러리">광고갤러리</a></li>
					<li th:classappend="${params.sub_type == '2'}?'on':''"><a href="/News/adList?sub_type=2" title="공모전">공모전</a></li>
					<li th:classappend="${params.sub_type == '3'}?'on':''"><a href="/News/adList?sub_type=3" title="아기모델 선발">아기모델 선발</a></li>
					<li th:classappend="${params.sub_type == '4'}?'on':''"><a href="/News/adList?sub_type=4" title="홍보영상">홍보영상</a></li>
				</ul>
			</div>
		</div>

		<div class="board_gallery_box">
			<ul>
				<li th:if="${not #lists.isEmpty(response.list)}" th:each="row, status : ${response.list}">
					<a th:href="|javascript:goView('/News/noticeView', '${row.idx}')|">
						<div class="img_box">
							<div th:if="${not #strings.isEmpty(row.thumb_path)}" th:style="|background-image:url(/upload/news/${#strings.replace(#strings.replace(#strings.replace(row.thumb_path, '(', '\('),')','\)'),' ', '\ ')})|"></div>
							<div th:if="${#strings.isEmpty(row.thumb_path)}" style="background-image:url(/front/ko/images/no_image.png)"></div>
						</div>
						<span class="cate" th:if="${row.sub_type == '1'}" th:text="|광고갤러리|"></span>
						<span class="cate" th:if="${row.sub_type == '2'}" th:text="|공모전|"></span>
						<span class="cate" th:if="${row.sub_type == '3'}" th:text="|아기모델 선발|"></span>
						<span class="cate" th:if="${row.sub_type == '4'}" th:text="|홍보영상|"></span>
						<p class="subject" th:text="${row.title}">올바른 물티슈 보관법</p>
						<span class="date" th:text="${#dates.format(row.reg_date, 'yyyy.MM.dd')}">2022.05.30</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="paging_box">
		</div>
	</div>
		<script th:inline="javascript">
            /*<![CDATA[*/

            $(document).ready(function () {
                $('#searchButton').html($('#searchSelect').val());
                const pagination = [[ ${response.pagination}]];
                const params = [[ ${params}]];
                let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);
                drawPage(pagination, params);
            });

            // 검색
            function btn_search () {
                let type = 'all';
                if($('#searchButton').html() == '제목')
                    type = 'title';
                else if($('#searchButton').html() == '내용')
                    type = 'content';
                else if($('#searchButton').html() == '태그')
                    type = 'tag';
                $('[name="searchType"]').val(type);
                movePage(1);
            }

            $(document).off().on('click', '.slist button', function (){
                let type = 'all_';
                if($(this).html() == '제목')
                    type = 'title';
                else if($(this).html() == '내용')
                    type = 'content';
                else if($(this).html() == '태그')
                    type = 'tag';
                $('[name="searchType"]').val(type);
            })

            let g_params = [[${params}]];
            function goView(path, idx){
                let queryParams = {};
                if(g_params.page) queryParams['page'] = g_params.page;
                if(g_params.req_type) queryParams['req_type'] = g_params.req_type;
                if(g_params.status) queryParams['status'] = g_params.status;
                if(g_params.sub_type) queryParams['sub_type'] = g_params.sub_type;
                if(g_params.type) queryParams['type'] = g_params.type;
                if(g_params.keyword) queryParams['keyword'] = g_params.keyword;
                if(g_params.searchType) queryParams['searchType'] = g_params.searchType;
                location.href = path+'?idx='+ idx +'&' + new URLSearchParams(queryParams).toString();
            }

            /*]]>*/
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
	<script>
		var animation = bodymovin.loadAnimation({
		  container: document.getElementById('sBoard_pc'), // Required
		  path: '/front/ko/images/sPromotional.json', // Required
		  renderer: 'svg', // Required
		  loop: false, // Optional
		  autoplay: false// Optional
		});

		animation.addEventListener('DOMLoaded',function(){
			animation.playSegments([1,90], true);
		})

		var animation_tab = bodymovin.loadAnimation({
		  container: document.getElementById('sBoard_tab'), // Required
		  path: '/front/ko/images/sPromotional_tab.json', // Required
		  renderer: 'svg', // Required
		  loop: false, // Optional
		  autoplay: false// Optional
		});

		animation_tab.addEventListener('DOMLoaded',function(){
			animation_tab.playSegments([1,90], true);
		})
	</script>

</div>
	<th:block layout:fragment="quick" th:include="@{/front/ko/fragment/front_quick}"></th:block>
	<th:block layout:fragment="footer" th:include="@{/front/ko/fragment/front_footer}"></th:block>
</div>
</body>
</html>
