<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kleannara.mapper.BannerMapper">
    <select id="getBannerList" parameterType="SearchModel" resultType="BannerModel">
        SELECT *
        FROM banner
        WHERE
        1=1
        and del_yn = 'N'
        <if test="searchType != null and searchType != ''">
            and type = #{searchType}
        </if>
        <if test="show_yn != null and show_yn != ''">
            and show_yn = #{show_yn}
        </if>
        order by show_order asc
        <if test="limit != null and limit != ''">
            limit #{limit}
        </if>
        <if test="limit == null || limit == ''">
            LIMIT #{pagination.limitStart}, #{recordSize}
        </if>
    </select>

    <select id="getBannerListCount" parameterType="SearchModel" resultType="int">
        SELECT count(*)
        FROM banner
        WHERE
        1=1
        and del_yn = 'N'
        <if test="searchType != null and searchType != ''">
            type = #{searchType}
        </if>
        <if test="show_yn != null and show_yn != ''">
            and show_yn = #{show_yn}
        </if>
        <if test="limit != null and limit != ''">
            limit #{limit}
        </if>
    </select>

    <select id="getBannerOne" parameterType="BannerModel" resultType="BannerModel">
        SELECT *
        FROM banner
        WHERE idx = #{idx}
          and del_yn = 'N'
    </select>

    <insert id="insertBanner" parameterType="BannerModel" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO banner (type, title, file_path, file_name, file_path_ta, file_name_ta, file_path_mo, file_name_mo, link_title, link_url, video_url, show_yn)
        VALUES ( #{type}
               , #{title}
               , #{file_path}
               , #{file_name}
               , #{file_path_ta}
               , #{file_name_ta}
               , #{file_path_mo}
               , #{file_name_mo}
               , #{link_title}
               , #{link_url}
               , #{video_url}
               , #{show_yn})
    </insert>

    <update id="updateBanner" parameterType="BannerModel">
        UPDATE banner
        SET
        mod_date = now()
        <if test="type != null">
            , type = #{type}
        </if>
        <if test="title != null">
            , title = #{title}
        </if>
        <if test="link_title != null">
            , link_title = #{link_title}
        </if>
        <if test="file_path != null">
            , file_path = #{file_path}
        </if>
        <if test="file_name != null">
            , file_name = #{file_name}
        </if>
        <if test="file_path_ta != null">
            , file_path_ta = #{file_path_ta}
        </if>
        <if test="file_name_ta != null">
            , file_name_ta = #{file_name_ta}
        </if>
        <if test="file_path_mo != null">
            , file_path_mo = #{file_path_mo}
        </if>
        <if test="file_name_mo != null">
            , file_name_mo = #{file_name_mo}
        </if>
        <if test="link_title != null">
            , link_title = #{link_title}
        </if>
        <if test="link_url != null">
            , link_url = #{link_url}
        </if>
        <if test="video_url != null">
            , video_url = #{video_url}
        </if>
        <if test="show_yn != null">
            , show_yn = #{show_yn}
        </if>
        <if test="del_yn != null">
            , del_yn = #{del_yn}
        </if>
        <if test="show_order != null">
            , show_order = #{show_order}
        </if>
        WHERE
        idx = #{idx}
    </update>

    <delete id="deleteBanner" parameterType="BannerModel">
        DELETE
        FROM banner
        WHERE idx = #{idx}
    </delete>
</mapper>