<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<th:block layout:fragment="head" th:include="@{/admin/fragment/admin_head}"></th:block>

<body class="admin">
<th:block layout:fragment="header" th:include="@{/admin/fragment/admin_header}"></th:block>
<th:block layout:fragment="gnb" th:include="@{/admin/fragment/admin_gnb}"></th:block>
<div class="container">
	<th:block layout:fragment="lnb" th:include="@{/admin/fragment/admin_lnb}"></th:block>
	<!--content-->
	<form id="sForm" method="post" enctype="multipart/form-data" th:object="${data}">
		<input type="hidden" th:if="*{idx}" th:field="*{idx}" />
		<input type="hidden" name="type" th:value="${params.type}" />
		<div class="content">
			<div>
				<header>
					<th:block th:switch="${params.type}">
						<h3 th:case="2" th:text="|PS 사업부 브랜드 관리|"></h3>
						<h3 th:case="3" th:text="|HL 사업부 브랜드 관리|"></h3>
					</th:block>
				</header>
				<div class="breadcrumbs">
					<ol>
						<li>브랜드 관리</li>
						<li>브랜드 관리 목록</li>
						<li>브랜드 관리 상세</li>
					</ol>
				</div>
				<div class="list-type">
					<h4>브랜드 상세</h4>
					<table class="tbl-type02">
					<colgroup>
						<col style="width: 17%;">
						<col style="width:33%">
						<col style="width: 17%">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<th>브랜드명(국문)<sup>*</sup></th>
						<td colspan="3">
							<input type="text" class="all" th:field="*{title_ko}">
						</td>
					</tr>
					<tr>
						<th>브랜드명(영문)<sup>*</sup></th>
						<td colspan="3">
							<input type="text" class="all"th:field="*{title_en}">
						</td>
					</tr>
					<tr>
						<th>브랜드명(중문)<sup>*</sup></th>
						<td colspan="3">
							<input type="text" class="all"th:field="*{title_zh}">
						</td>
					</tr>
					<tr th:if="${params.type == '3'}">
						<th>인스타그램URL</th>
						<td colspan="3">
							<input type="text" class="all"th:field="*{insta_url}">
						</td>
					</tr>
					<tr th:if="${params.type == '3'}">
						<th>직영몰URL</th>
						<td colspan="3">
							<input type="text" class="all"th:field="*{shop_url}">
						</td>
					</tr>
					<tr>
						<th>썸네일이미지<sup>*</sup>(260X260)</th>
						<td colspan="3">
							<div class="filebox">
								<input type="text" class="upload-name file_name" name="thumb_name" disabled="" th:value="*{thumb_name}">
								<label for="ex_filename02" class="btn gray01 image-click">파일선택</label>
								<input type="file" id="ex_filename02" class="upload-hidden" name="thumb">
								<input type="hidden" class="pre_path" name="pre_thumb_path" th:value="*{thumb_path}">
								<input type="hidden" class="pre_name" name="pre_thumb_name" th:value="*{thumb_name}">
								<div class="file">
									<span class="thumb_name"></span>
									<a href="javascript:void(0);" class="btn-del"></a>
								</div>
							</div>
						</td>
					</tr>
					<tr data-type="2">
						<th>로고 이미지<sup>*</sup>(가로400/세로300이하)</th>
						<td colspan="3">
							<div class="filebox">
								<input type="text" class="upload-name file_name" name="logo_name" disabled="" th:value="*{logo_name}">
								<label for="ex_filename03" class="btn gray01 image-click">파일선택</label>
								<input type="file" id="ex_filename03" class="upload-hidden" name="logo">
								<input type="hidden" class="pre_path" name="pre_logo_path" th:value="*{logo_path}">
								<input type="hidden" class="pre_name" name="pre_logo_name" th:value="*{logo_name}">
								<div class="file">
									<span class="logo_name"></span>
									<a href="javascript:void(0);" class="btn-del"></a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>대표이미지<sup>*</sup>(1920*680)</th>
						<td colspan="3">
							<div class="filebox">
								<input type="text" class="upload-name file_name" name="image_name" disabled="" th:value="*{image_name}">
								<label for="ex_filename01" class="btn gray01 image-click">파일선택</label>
								<input type="file" id="ex_filename01" class="upload-hidden" name="image">
								<input type="hidden" class="pre_path" name="pre_image_path" th:value="*{image_path}">
								<input type="hidden" class="pre_name" name="pre_image_name" th:value="*{image_name}">
								<div class="file">
									<span class="image_name"></span>
									<a href="javascript:void(0);" class="btn-del"></a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>브랜드설명(국문)<sup>*</sup></th>
						<td colspan="3">
							<textarea class="h100" th:field="*{explain_ko}"></textarea>
						</td>
					</tr>
					<tr>
						<th>브랜드설명(영문)<sup>*</sup></th>
						<td colspan="3">
							<textarea class="h100" th:field="*{explain_en}"></textarea>
						</td>
					</tr>
					<tr>
						<th>브랜드설명(중문)<sup>*</sup></th>
						<td colspan="3">
							<textarea class="h100" th:field="*{explain_zh}"></textarea>
						</td>
					</tr>
					<tr>
						<th>헤드라인(국문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{headline_ko}"></textarea>
						</td>
					</tr>
					<tr>
						<th>헤드라인(영문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{headline_en}"></textarea>
						</td>
					</tr>
					<tr>
						<th>헤드라인(중문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{headline_zh}"></textarea>
						</td>
					</tr>
					<tr>
						<th>서브카피(국문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{sub_copy_ko}"></textarea>
						</td>
					</tr>
					<tr>
						<th>서브카피(영문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{sub_copy_en}"></textarea>
						</td>
					</tr>
					<tr>
						<th>서브카피(중문)</th>
						<td colspan="3">
							<textarea class="h100" th:field="*{sub_copy_zh}"></textarea>
						</td>
					</tr>
					<tr>
						<th>브랜드 이야기(국문)<sup>*</sup></th>
						<td colspan="3">
							<textarea style="height:400px;" name="story_ko" id="story_ko" th:text="*{story_ko}"></textarea>
						</td>
					</tr>
					<tr>
						<th>브랜드 이야기(영문)<sup>*</sup></th>
						<td colspan="3">
							<textarea style="height:400px;" name="story_en" id="story_en" th:text="*{story_en}"></textarea>
						</td>
					</tr>
					<tr>
						<th>브랜드 이야기(중문)<sup>*</sup></th>
						<td colspan="3">
							<textarea style="height:400px;" name="story_zh" id="story_zh" th:text="*{story_zh}"></textarea>
						</td>
					</tr>
					<tr>
						<th>노출여부<sup>*</sup></th>
						<td>
							<input type="radio" id="viewOn" value="Y" name="show_yn" th:checked="*{show_yn eq 'Y'} or ${#strings.isEmpty(data.show_yn)}">
							<label for="viewOn">노출</label>
							<input type="radio" id="viewOff" value="N" name="show_yn" th:checked="*{show_yn eq 'N'}">
							<label for="viewOff">미노출</label>
						</td>
						<th>작성자</th>
						<td th:field="*{reg_admin}"></td>
					</tr>
					</tbody>
				</table>
					<div class="cont">
					<a th:href="|/AdminBrand/brandList?type=${params.type}|" class="btn gray03 large">목록</a>
					<div class="btn-group">
						<th:block th:if="${data.idx == 0}">
							<a href="/AdminBrand/brandList" class="btn gray02 large btn_cancel">취소</a>
							<a href="javascript:void(0);" class="btn c01 large btn_save">등록</a>
						</th:block>
						<th:block th:if="${data.idx > 0}">
							<a href="javascript:void(0);" class="btn gray02 large btn_delete">삭제</a>
							<a href="javascript:void(0);" class="btn c01 large btn_save">수정</a>
						</th:block>
					</div>
				</div>
				</div>
			</div>
			<th:block layout:fragment="footer" th:include="@{/admin/fragment/admin_footer}"></th:block>
		</div>
	</form>
	<!--//content-->
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let oEditors = [];
    $(document).ready(function(){
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "story_ko",
            sSkinURI: "/smart_editor/SmartEditor2Skin.html",
            htParams : {
                bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                fOnBeforeUnload : function(){
                    //alert("완료!");
                }
            }, //boolean
            fOnAppLoad : function(){
                //예제 코드
                //oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
            },
            fCreator: "createSEditor2"
        });
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "story_en",
            sSkinURI: "/smart_editor/SmartEditor2Skin.html",
            htParams : {
                bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                fOnBeforeUnload : function(){
                    //alert("완료!");
                }
            }, //boolean
            fOnAppLoad : function(){
                //예제 코드
                //oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
            },
            fCreator: "createSEditor2"
        });
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "story_zh",
            sSkinURI: "/smart_editor/SmartEditor2Skin.html",
            htParams : {
                bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                fOnBeforeUnload : function(){
                    //alert("완료!");
                }
            }, //boolean
            fOnAppLoad : function(){
                //예제 코드
                //oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
            },
            fCreator: "createSEditor2"
        });
    });

    // 게시글 삭제
    $('.btn_delete').on('click', function(){
        let value = 'Y';
        let idx = $('#idx').val();
        let type = 'del_yn';
        let table = 'brand';
        if(!idx || !value)
            return;

	    if(confirm('해당 항목을 삭제 하시겠습니까? 삭제된 항목을 복원되지 않습니다')) {
            $.ajax({
                url: '/AdminBrand/updateBrandValue',
                type: 'POST',
                data: {
                    idx: idx,
                    value: value,
                    type: type
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result.result != 'success') {
                        alert('삭제 실패');
                    } else {
						location.href = "/AdminBrand/brandList?type="+[[${params.type}]];
                    }
                }
            });
        }
    });

    // 게시글 저장(수정)
    $('.btn_save').on('click', function(){
        oEditors.getById["story_ko"].exec("UPDATE_CONTENTS_FIELD", []);
        oEditors.getById["story_en"].exec("UPDATE_CONTENTS_FIELD", []);
        oEditors.getById["story_zh"].exec("UPDATE_CONTENTS_FIELD", []);
        if($.trim($('#story_ko').val()) == '<p>&nbsp;</p>')
            $('#story_ko').val('');
        if($.trim($('#story_en').val()) == '<p>&nbsp;</p>')
            $('#story_en').val('');
        if($.trim($('#story_zh').val()) == '<p>&nbsp;</p>')
            $('#story_zh').val('');
        const form = document.getElementById('sForm');
        const fields = [form.title_ko, form.title_en, form.title_zh, form.image_name];
        const fieldNames = ['브랜드명', '브랜드명', '브랜드명', '이미지'];

        for (let i = 0, len = fields.length; i < len; i++) {
            if ( !isValid(fields[i], fieldNames[i]) ) {
                return false;
            }
        }
        form.action = '/AdminBrand/insertBrand';
        form.submit();
    });

    //제품이미지 삭제
    $(document).on("click",".btn-del",function(){
        var tr = $(this).parents('tr');

        if(confirm('등록된 파일을 삭제하시겠습니까?')){
            tr.find('.upload-name').val('');
            tr.find('.upload-file').remove();
            tr.find('.pre_path').val('');
            tr.find('.pre_name').val('');
            var $el = tr.find('.upload-hidden');
            $el.wrap('<form>').closest('form').get(0).reset();
            $el.unwrap();
        }
    });

    /*]]>*/
</script>
<!--마이페이지 팝업-->
<th:block layout:fragment="popup" th:include="@{/admin/fragment/admin_popup}"></th:block>
</body>
</html>