<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<th:block layout:fragment="head" th:include="@{/admin/fragment/admin_head}"></th:block>

<body class="admin">
<th:block layout:fragment="header" th:include="@{/admin/fragment/admin_header}"></th:block>
<th:block layout:fragment="gnb" th:include="@{/admin/fragment/admin_gnb}"></th:block>
<div class="container">
	<th:block layout:fragment="lnb" th:include="@{/admin/fragment/admin_lnb}"></th:block>
	<!--content-->
	<div class="content">
		<div>
			<header>
				<h3>자주하는 질문 관리</h3>
			</header>
			<div class="breadcrumbs">
				<ol>
					<li>고객센터 관리</li>
					<li>자주하는 질문 관리</li>
				</ol>
			</div>
			<form id="sForm" method="post">
			<div class="list-type">
				<div class="cont">
					<div class="btn-group">
						<select class="w100" id="type" name="type">
							<option value="" >전체</option>
							<option value="1" th:selected="${params.type eq '1'}">제품문의</option>
							<option value="2" th:selected="${params.type eq '2'}">이용문의</option>
							<option value="3" th:selected="${params.type eq '3'}">제안&middot;건의</option>
							<option value="4" th:selected="${params.type eq '4'}">기타</option>
						</select>
					</div>
				</div>
				<div class="table-area">
					<table class="tbl-type v2">
						<colgroup>
							<col style="width:8%">
							<col style="width:10%">
							<col>
							<col style="width:14%">
						</colgroup>
						<thead>
						<tr>
							<th>번호</th>
							<th>카테고리</th>
							<th>자주하는 질문 제목</th>
							<th>순서</th>
						</tr>
						</thead>
						<tbody id="list">
						<tr th:if="${not #lists.isEmpty(response.list)}" th:each="row, status : ${response.list}">
							<input type="hidden" name="idx[]" th:value="${row.idx}">
							<td th:text="${params.pagination.totalRecordCount - ((params.page-1) * params.recordSize) - status.index}"></td>
							<th:block th:switch="${row.type}">
								<td th:case="1" th:text="제품문의"></td>
								<td th:case="2" th:text="이용문의"></td>
								<td th:case="3" th:text="제안.건의"></td>
								<td th:case="4" th:text="기타"></td>
							</th:block>
							<td class="txt-left"><a th:href="@{/AdminCustomer/faqView( idx=${row.idx} )}" class="font-c01" th:text="${row.title}">깨끗한나라</a></td>
							<td>
								<a href="javascript:void(0);" class="btn-up" th:data-type="up"></a>
								<a href="javascript:void(0);" class="btn-down" th:data-type="down"></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="cont">
					<div class="btn-group">
						<a href="/AdminCustomer/faqView" class="btn gray03 large">자주하는 질문 등록</a>
						<a href="#" class="btn c01 large btn_save">순서 저장</a>
					</div>
				</div>
			</div>
			</form>
		</div>
		<th:block layout:fragment="footer" th:include="@{/admin/fragment/admin_footer}"></th:block>
	</div>
	<!--//content-->
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function (){
    });

    //로우이동
    $(document).on("click",".btn-up, .btn-down",function(){
        var type = $(this).data().type;
        var thisRow = $(this).parents('tr');

        if(type=='down'){//아래로이동
            thisRow.insertAfter(thisRow.next());
        }else if(type=='up'){//위로 이동
            thisRow.insertBefore(thisRow.prev());
        }
    });

    //순서변경
    $(document).on("click",".btn_save",function(){
        let type = $('#type').val();
        if(type){
            alert('전체 항목에서만 순서변경이 가능합니다.');
            return;
        }
        if(confirm('현재의 변경된 내용을 저장 하시겠습니까?')) {
            $('#sForm').attr('action', '/AdminCustomer/updateFaqOrder');
            $('#sForm').submit();
        }
        else {
            location.reload();
        }
    });

    //사용여부변경
    $(document).on("change",".use_select",function(){
        let value = $(this).val();
        let idx = $(this).data().idx;
        let type = $(this).data().type;
        let table = 'faq';
        if(!idx || !value)
            return;

        $.ajax({
            url: '/AdminCustomer/updateFaqValue',
            type: 'POST',
            data: {
                idx: idx,
                value: value,
                type : type
            },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result.result != 'success') {
                    alert('업데이트 실패');
                }
            }
        });
    });

    $(document).on('change', '#type', function (){
        let type = $(this).val();
        location.href = '/AdminCustomer/faqList?type='+type;
    });

    /*]]>*/
</script>
<!--마이페이지 팝업-->
<th:block layout:fragment="popup" th:include="@{/admin/fragment/admin_popup}"></th:block>
</body>
</html>