<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="head" th:include="@{/admin/fragment/admin_head}"></th:block>

<body class="admin">
<th:block layout:fragment="header" th:include="@{/admin/fragment/admin_header}"></th:block>
<th:block layout:fragment="gnb" th:include="@{/admin/fragment/admin_gnb}"></th:block>
<div class="container">
	<th:block layout:fragment="lnb" th:include="@{/admin/fragment/admin_lnb}"></th:block>
	<!--content-->
	<div class="content">
		<div>
			<header>
				<h3>우리의 소식 순서 관리</h3>
			</header>
			<div class="breadcrumbs">
				<ol>
					<li>메인 관리</li>
					<li>우리의 소식 순서 관리</li>
				</ol>
			</div>
				<div class="list-type">
					<form id="sForm" method="post">
					<div class="table-area">
						<table class="tbl-type v2">
							<colgroup>
								<col style="width:10%">
								<col>
								<col style="width:15%">
							</colgroup>
							<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>노출순서</th>
							</tr>
							</thead>
							<tbody id="list">
							<tr th:if="${not #lists.isEmpty(response2.list)}" th:each="row, status : ${response2.list}">
								<input type="hidden" name="idx[]" th:value="${row.idx}">
								<td th:text="${status.index+1}"></td>
								<td class="txt-left"><a th:href="|/AdminNews/newsView?idx=${row.idx}&type=${row.type}|" target="_blank" class="font-c01" th:text="${row.title}">깨끗한나라</a></td>
								<td>
									<a href="javascript:void(0);" class="btn-up" th:data-type="up"></a>
									<a href="javascript:void(0);" class="btn-down" th:data-type="down"></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					</form>
					<div class="cont">
						<div class="btn-group">
							<p class="txt-style">* 상위 등록 선택 시 기존 5순위는 삭제되며, 5순위에 등록 됩니다.</p>
						</div>
					</div>
					<form id="searchForm" method="get">
						<input type="hidden" name="searchType" value="all"/>
						<input type="hidden" name="keyword"/>
					</form>
					<div class="table-area">
						<table class="tbl-type v2">
							<colgroup>
								<col style="width:10%">
								<col>
								<col style="width:15%">
							</colgroup>
							<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>메인노출</th>
							</tr>
							</thead>
							<tbody>
							<tr th:if="${not #lists.isEmpty(response.list)}" th:each="row, status : ${response.list}">
								<td th:text="${params.pagination.totalRecordCount - ((params.page-1) * params.recordSize) - status.index}"></td>
								<td class="txt-left"><a th:href="|javascript:goView('/AdminNews/newsView', ${row.idx}|" class="font-c01" th:text="${row.title}">깨끗한나라</a></td>
								<td>
									<a th:href="|/AdminNews/newsView?idx=${row.idx}&type=${row.type})|" target="_blank" class="btn c01 btn_add" th:data-idx="${row.idx}" th:data-title="${row.title}">상위 등록</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="cont">
						<div class="btn-group">
							<a href="#" class="btn c01 large btn_save">변경 저장</a>
						</div>
					</div>
					<div class="page-nav">
					</div>
				</div>
		</div>
		<th:block layout:fragment="footer" th:include="@{/admin/fragment/admin_footer}"></th:block>
	</div>
	<!--//content-->
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function (){
        const pagination = [[ ${response.pagination} ]];
        const params = [[ ${params} ]];
        let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);
        drawPage(pagination, params);
    });

    // 검색
    $(document).on("click", ".btn_search", function () {
        movePage(1);
    });

    //로우이동
    $(document).on("click", ".btn-up, .btn-down", function () {
        var type = $(this).data().type;
        var thisRow = $(this).parents('tr');

        if (type == 'down') {//아래로이동
            thisRow.insertAfter(thisRow.next());
        } else if (type == 'up') {//위로 이동
            thisRow.insertBefore(thisRow.prev());
        }
    });

    //순서변경
    $(document).on("click", ".btn_save", function () {
        if (confirm('현재의 변경된 내용을 저장 하시겠습니까?')) {
            $('#sForm').attr('action', '/AdminMain/updateNewsOrder');
            $('#sForm').submit();
        } else {
            location.reload();
        }
    });

    //순서변경
    $(document).on("click",".btn_add",function(){
        let idx = $(this).data().idx;
        let title = $(this).data().title;
		//중복확인
        let idxs = $('[name="idx[]"]');
        let isExist = false;
        $.each(idxs, function (index, row){
            if(row.value == idx)
                isExist = true;
        })
        if(isExist)
            return;

	    let order = $('#list tr').length;
        if(order >= 5) {
            $('#list tr').eq(4).remove();
            order = 4;
        }

        let html = "<tr>";
        html += '<input type="hidden" name="idx[]" value="'+idx+'">';
        html += '<td>'+(order+1)+'</td>';
        html += '<td class="txt-left"><a href="javascript:void(0);" class="font-c01">'+title+'</a></td>';
        html += '<td>';
        html += '<a href="javascript:void(0);" class="btn-up" data-type="up"></a>';
        html += '<a href="javascript:void(0);" class="btn-down" data-type="down"></a>';
        html += '</td>';
        html += "</tr>";

        $('#list').append(html);
    });

    /*]]>*/
</script>
<!--마이페이지 팝업-->
<th:block layout:fragment="popup" th:include="@{/admin/fragment/admin_popup}"></th:block>
</body>
</html>